<!-- Banner -->
<app-parallax-hero-style1 ids="iq-home" bgImage="./assets/images/top-landing-wallpaper.jpg" classNames="iq-banner overview-block-pt iq-bg-over iq-parallax">
   <div class="container-fluid">
      <div class="banner-text">
         <div class="row">
            <div class="col-lg-6">
               <h2 class="text-uppercase iq-font-white iq-tw-3 "> Integrated<b class="iq-tw-5"> security </b> solutions</h2>
               <p class="iq-font-white iq-pt-15 iq-mb-40">Vajra is a Security management platform that provides a number of benefits to your organization</p>
               <div class="waves-box">
                  <a href="http://www.youtube.com/watch?v=kzyFmrFky7Y" class="iq-video popup-youtube"><i class="ion-ios-play-outline"></i></a>
                  <div class="iq-waves">
                     <div class="waves wave-1"></div>
                     <div class="waves wave-2"></div>
                     <div class="waves wave-3"></div>
                     <div class="waves wave-4"></div>
                  </div>
               </div>
               <!-- <a href="javascript:void(0)" class="button bt-black iq-mt-5 iq-ml-40">Download</a> -->
            </div>
            <div class="col-lg-6">
               <img class="banner-img" src="./assets/images/banner/01.png" alt="">
            </div>
         </div>
      </div>
   </div>
   <div class="banner-objects">
      <span class="banner-objects-01" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-50px);">
      <img src="./assets/images/drive/03.png" alt="drive02">
      </span>
      <span class="banner-objects-02 iq-fadebounce">
      <span class="iq-round"></span>
      </span>
      <span class="banner-objects-03 iq-fadebounce">
      <span class="iq-round"></span>
      </span>
   </div>
</app-parallax-hero-style1>
<!-- Banner End -->
