<!-- How it Works -->
<section id="how-it-works" class="overview-block-ptb it-works">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <app-section-title title="What is VajarApp ?" subTitle="With our product Vajra, we proposed a tool using information technology and communication (ICT) 
               to help local government see what has happened in the city currently. 
               Vajra app is a solution for city monitoring in a single dashboard to help summarize the current status of the city.
               
               Vajra App provides a complete solution for information access and control needs of one or more areas and buildings in the facility. 
               It can address the varying needs of different business units within an organization using 
               its modular design and flexibility to combine different applications for customization.">
            </app-section-title>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12 col-lg-3 m-0">
            <app-card-style5 step="1">
               <img cardMedia src="./assets/images/services/icon1.png" class="img-fluid" alt="#">
               <div cardBody>
                  <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">Vajra Community Resident</h5>
                  <p>
                     It is one integrated solution </p>
               </div>
            </app-card-style5>
         </div>
         <div class="col-md-12 col-lg-3  m-0">
            <app-card-style5 step="2">
               <img cardMedia src="./assets/images/services/icon2.png" class="img-fluid" alt="#">
               <div cardBody>
                  <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">Vajra Guard Patrol</h5>
                  <p>Development On Progress... </p>
               </div>
            </app-card-style5>
         </div>
         <div class="col-md-12 col-lg-3   m-0">
            <app-card-style5 step="3">
               <img cardMedia src="./assets/images/services/icon3.png" class="img-fluid" alt="#">
               <div cardBody>
                  <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">Vajra Visitor Panel</h5>
                  <p>Coming Soon...
                  </p>
               </div>
            </app-card-style5>
         </div>
         <div class="col-md-12 col-lg-3  m-0">
            <app-card-style5 step="4">
               <img cardMedia src="./assets/images/services/icon3.png" class="img-fluid" alt="#">
               <div cardBody>
                  <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">Admin Panel</h5>
                  <p>Coming Soon...
                  </p>
               </div>
            </app-card-style5>
         </div>
         <!-- <div class="col-md-12 col-lg-3  m-0">
            <app-card-style5 step="4">
               <img cardMedia src="./assets/images/services/icon3.png" class="img-fluid" alt="#">
               <div cardBody>
                  <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">ANPR</h5>
                  <p>Coming Soon...
                  </p>
               </div>
            </app-card-style5>
         </div> -->
      </div>
   </div>
</section>
<!-- How it Works END -->
<!-- Who is Sofbox ? -->


<app-section-style1>
   <div class="col-lg-6" cardBody>
      <div class="heading-title left text-left">
         <h3 class="iq-tw-7 iq-mb-25 title">Vajra Community Resident</h3>
      </div>
      
      <div class="row">
         <div class="col-6 col-lg-3 col-md-3 col-sm-3 mt-3 pr-sm-0" *ngFor="let item of vcaFeatures;">
            <div class="card d-flex flex-column align-items-center justify-content-between pb-0 h-100 rounded w-h-fixed py-3">
               <img cardMedia src="./assets/images/services/icon3.png" class="img-icons" alt="#">
               <p class="m-0 p-0 fs-12 iq-tw-6">{{ item.text }}</p>
            </div>
         </div>
         
      </div>
      <!-- <h6 class="iq-tw-6 iq-mb-15 iq-mt-25">T
         .</h6> -->
   </div>
   <div class="col-lg-6 align-self-center pl-4" cardMedia>
      <img class="iq-works-img pull-right img-fluid" src="./assets/images/drive/01.png" alt="drive01">
      <p class="text-center mt-5 ml-4">
         VajraApp is a real-time online guard tour system based on NFC, Beacon and QR-code tags use. The staff scans tags placed
         on locations and assets and the Monitoring Center gets informed in real-time about incidents and events. Any time a
      </p>
   </div>
   <!-- <div class="col-12" cardBody>
      <div class="row">
      <div class="col-6 col-lg-2 col-md-2 col-sm-2 mt-3 pe-0 pr-sm-0" *ngFor="let item of vcaFeatures2;">
         <div class="card p-2 d-flex flex-column align-items-center justify-content-between pb-0 h-100 rounded w-h-fixed">
            <img cardMedia src="./assets/images/services/icon3.png" class="img-icons" alt="#">
            <p class="m-0 p-0 fs-12 iq-tw-6">{{ item.text }}</p>
         </div>
      </div>
      
   </div></div> -->
   <!-- <div class="col-12 col-lg-12 col-sm-12 align-self-center mt-5" cardBody>
      
   </div> -->
</app-section-style1>

<app-section-style2 id="software-features" [small]="true">
   <div class="iq-software-demo" cardMedia>
      <img class="img-fluid" src="./assets/images/drive/05.png" alt="drive05">
   </div>
   <div class="col-lg-6 offset-lg-6 pl-5" cardBody>
      <div class="heading-title left text-left">
         <h3 class="iq-tw-7 iq-mb-25 title">Vajra Guard Patrol</h3>
      </div>
      <div class="row">
         <div class="col-6 col-lg-3 col-md-3 col-sm-3 mt-3 pr-sm-0" *ngFor="let item of vgpFeatures;">
            <div class="card d-flex flex-column align-items-center justify-content-between pb-0 h-100 rounded w-h-fixed py-3">
               <img cardMedia src="./assets/images/services/icon3.png" class="img-icons" alt="#">
               <p class="m-0 p-0 fs-12 iq-tw-6">{{ item.text }}</p>
            </div>
         </div>
      </div>
   </div>
</app-section-style2>

<div class="my-5" ></div>

<app-section-style1>
   <div class="col-lg-6" cardBody>
      <div class="heading-title left text-left">
         <h3 class="iq-tw-7 iq-mb-25 title">Vajra Visitor Panel</h3>
      </div>
      
      <div class="row">
         <div class="col-6 col-lg-3 col-md-3 col-sm-3 mt-3 pr-sm-0" *ngFor="let item of vvpFeatures;">
            <div class="card d-flex flex-column align-items-center justify-content-between pb-0 h-100 rounded w-h-fixed py-3">
               <img cardMedia src="./assets/images/services/icon3.png" class="img-icons" alt="#">
               <p class="m-0 p-0 fs-12 iq-tw-6">{{ item.text }}</p>
            </div>
         </div>
         
      </div>
      <!-- <h6 class="iq-tw-6 iq-mb-15 iq-mt-25">T
         .</h6> -->
   </div>
   <div class="col-lg-6 align-self-center pl-4" cardMedia>
      <img class="iq-works-img pull-right img-fluid" src="./assets/images/drive/01.png" alt="drive01">
   </div>
   <!-- <div class="col-12" cardBody>
      <div class="row">
      <div class="col-6 col-lg-2 col-md-2 col-sm-2 mt-3 pe-0 pr-sm-0" *ngFor="let item of vcaFeatures2;">
         <div class="card p-2 d-flex flex-column align-items-center justify-content-between pb-0 h-100 rounded w-h-fixed">
            <img cardMedia src="./assets/images/services/icon3.png" class="img-icons" alt="#">
            <p class="m-0 p-0 fs-12 iq-tw-6">{{ item.text }}</p>
         </div>
      </div>
      
   </div></div> -->
   <!-- <div class="col-12 col-lg-12 col-sm-12 align-self-center mt-5" cardBody>
      
   </div> -->
</app-section-style1>

<!-- Who is Sofbox ? END -->
<!-- Software Features -->
<app-section-style2 id="software-features" [small]="true">
   <div class="iq-software-demo" cardMedia>
      <img class="img-fluid" src="./assets/images/drive/05.png" alt="drive05">
   </div>
   <div class="col-lg-6 offset-lg-6 pl-5" cardBody>
      <div class="heading-title left text-left">
         <h3 class="iq-tw-7 iq-mb-25 title">Automatic Number Plate Recognition</h3>
      </div>
      <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
         text ever since the 1500s, when an unknown printer </p>
      <ul class="iq-mt-40 iq-list">
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
               class="iq-font-black">Auto open barrier gate</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
               class="iq-font-black">Vehicle Inout Transaction</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
               class="iq-font-black">AI ANPR with Display</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
               class="iq-font-black">Vehicle Colour Detection</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
               class="iq-font-black">Vehicle Size Detection</span>
         </li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
               class="iq-font-black">Traffic Direction Detection</span>
         </li>
      </ul>
   </div>
</app-section-style2>
<app-section-style2 id="software-features" [small]="true">  
   <div class="col-lg-6 offset-lg-6" cardBody>
      <div class="heading-title left text-left">
         <h3 class="iq-tw-7 iq-mb-25 title">Mobile Features</h3>
      </div>

      
      <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
         text ever since the 1500s, when an unknown printer </p>
      <ul class="iq-mt-40 iq-list">
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
               class="iq-font-black">It is a long established fact that a reader will be distracted by the readable
               content.</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
               class="iq-font-black">There are many variations of passages of Lorem Ipsum available, but the majority
               have suffered.</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
               class="iq-font-black">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in
               a piece.</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
               class="iq-font-black">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
               doloremque.</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
               class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span>
         </li>
      </ul>
   </div>
   <div class="iq-software-demo" cardMedia>
      <img class="img-fluid" src="./assets/images/drive/05.png" alt="drive05">
   </div>
</app-section-style2>
<!-- Software Features END -->